DATABASE_URL=(URL вашей базы данных)
POSTGRES_DB=(Имя вашей базы данных)
POSTGRES_USER=(Имя пользователя вашей базы данных)
POSTGRES_PASSWORD=(Пароль от вашей базы данных)

REDIS_URL=
CELERY_RESULT_BACKEND=

BOT_TOKEN=(токен вашего ТГ бота от BotFather)
